.Button{
  border: 0;
  min-width: 100px;
  width: 100%;
  max-width: 200px;
  padding: 1.5rem 4.5rem;
  font-size: 2rem;
  background: var(--Very-dark-cyan);
  color: var(--White);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  font-family: 'Space Mono', monospace;
}
.ButtonActive{
  border: 0;
  min-width: 100px;
  padding: 1.5rem 0;
  font-size: 2rem;
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  font-family: 'Space Mono', monospace;
}
.Button:hover,
.Button:active{
  background: var(--Strong-cyan);
  color: var(--Very-dark-cyan);
}