.InputCustom{
  border: 0;
  min-width: 100px;
  max-width: 200px;
  padding: 1rem;
  font-size: 2rem;
  background: var(--Light-grayish-cyan-2);
  color: var(--Very-dark-cyan);
  border: 2px solid var(--Light-grayish-cyan-2);
  border-radius: .5rem;
  cursor: pointer;
  transition: .3s;
  font-family: 'Space Mono', monospace;
  text-align: right;
  font-weight: 600;
}
.InputCustom::placeholder {
  font-size: 2rem;
  text-align: center;
  font-weight: 600;
}
.InputCustom:focus,
.InputCustom:hover {
  outline: 0;
  border: 2px solid var(--Strong-cyan);
}

.InputCustom[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
  
}
.InputCustom[type=number] { 
 -moz-appearance: textfield;
 appearance: textfield;
}
